*.aux
*.bbl
*.blg
*.log
*.out
latex.pdf
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
.directory
_minted*/
*.nav
*.snm
*.vrb
build/
paper.pdf
*.fdb_latexmk
*.fls
*.xmpdata
*.xmpi
*.abs
paper-2024-woa-edge-cl